<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- *****Replace path to RampeeDb.mdf with your own values -->
    <add name="RampeeDbContext" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Path\To\RampeeDb.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />    
    <!-- *****Replace SQLSERVER_HOST, RAMPEE_DATABASE, RAMPEE_SQL_USER, RAMPEE_PASSWORD with your own values -->
    <!--<add name="RampeeDbContext" connectionString="Data Source=SQLSERVER_HOST;Initial Catalog=RAMPEE_DATABASE;Trusted_Connection=False;User=RAMPEE_SQL_USER;Password=RAMPEE_PASSWORD;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <!-- Use LocalDbConnectionFactory for SQL Server Express (e.g. LocalDB) -->
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <!-- Use SqlConnectionFactory when deploying to SQL Server -->
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=SQLSERVER_HOST;Initial Catalog=RAMPEE_DATABASE;Trusted_Connection=False;User=RAMPEE_SQL_USER;Password=RAMPEE_PASSWORD;MultipleActiveResultSets=true" />
      </parameters>
    </defaultConnectionFactory> -->
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>